Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: None
KeepEmptyLinesAtTheStartOfBlocks: false
BreakBeforeBraces: Attach
Standard: Latest
IndentCaseLabels: true
AlignAfterOpenBracket: Align
AccessModifierOffset: -4
PointerAlignment: Left

IndentWidth: 4
TabWidth: 4
UseTab: Always # Options: Always (Uses real tabs), ForIndentation, Never
ContinuationIndentWidth: 4
