---
# Checks enforcing C++ Core Guidelines (Stroustrup, Sutter)
# NL.8, NL.9, NL.10, NL.17: readability-identifier-naming.* all of them are included
# SF.8: modernize-pragma-once
# SF.11: misc-include-cleaner
# SF.1-SF.3: readability-inconsistent-declaration-parameter-name
Checks: '-*,readability-identifier-naming,
  modernize-pragma-once,
  misc-include-cleaner,
  readability-inconsistent-declaration-parameter-name'
CheckOptions:
  # NL.8: Use all-uppercase names for macro-like entities
  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  # NL.9: Prefer PascalCase(CamelCase in clang-tidy) for type names
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  # NL.9: Prefer PascalCase(CamelCase in clang-tidy) for type names
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  # NL.9: Prefer PascalCase(CamelCase in clang-tidy) for type names
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  # Enum.5: Don't use ALL_CAPS for enumerators to avoid macro collisions
  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase
  # NL.10: Use snake_case(lower_case in clang-tidy) for function names
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  # NL.10: Use snake_case(lower_case in clang-tidy) for variable names
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  # NL.10: Use snake_case(lower_case in clang-tidy) for parameter names
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  # NL.10: Use snake_case(lower_case in clang-tidy) for member names
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  # NL.17: Use '_' as suffix for private members
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: '_'
  # SF.8: Use #pragma once instead of header guards
  - key: modernize-pragma-once.FixHeaderGuards
    value: 'true'
